@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

#header {
    background-image: url(../images/apple-pie.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header h1 {
    color: white;
    font-size: 80px;
    font-weight: 300;
}

.intro {
    margin: 30px 100px;
    padding: 10px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro p {
    font-size: 20px;
    font-weight: 100;
    text-align: center justify;
}


.intro img {
    padding: 10px;
    width: 400px;
}

hr {
    margin: 0 300px;
    height: 1px;
    background-color: gray;
}

.ingridients {
    margin: 10px 100px;
    padding: 10px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    font-size: 300;
    padding: 20px;
    margin-left: -20px;
}

.ingridients ul {
    list-style-type: circle;
    font-weight: 100;
    margin-left: 30px;
}

.ingridients img {
    margin-top: 20px;
    margin-bottom: 5px;
    width: 350px;
    align-self: center;
}

.directions {
    margin: 10px 100px;
    padding: 10px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.directions ol {
    list-style-type: decimal;
    font-weight: 100;
    margin-left: 30px;
    margin-right: 10px;
    margin-bottom: 50px;
    text-align: justify;
}